@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');
$body-bg: white;
$theme-colors: (
  "primary": #0d2240,
  "primary--lighten5": #969ea5,
  "primary--lighten4": #8a949c,
  "primary--lighten3": #9ea7b3,
  "primary--lighten2": #6e7a8c,
  "primary--lighten1": #3d4e66,
  "primary--darken1": #2e4157,
  "primary--darken2": #22374e,
  "primary--darken3": #172c46,
  "primary--darken4": #0b223d,
  "secondary": #7c98ab,
  "secondary--lighten5": #c8d3d3,
  "secondary--lighten4": #c1ced0,
  "secondary--lighten3": #cbd6dd,
  "secondary--lighten2": #b0c1cd,
  "secondary--lighten1": #96adbc,
  "secondary--darken1": #8ea7b4,
  "secondary--darken2": #87a2b0,
  "secondary--darken3": #819dad,
  "secondary--darken4": #7a98a9,
  "tertiary": #e94f3d,
  "tertiary--lighten5": #f3b5ac,
  "tertiary--lighten4": #f1aca4,
  "tertiary--lighten3": #ee9b93,
  "tertiary--lighten2": #ed928b,
  "tertiary--lighten1": #ed7264,
  "tertiary--darken1": #e56761,
  "tertiary--darken2": #e35e59,
  "tertiary--darken3": #e25650,
  "tertiary--darken4": #e04d48,
  "quaternary": #eee23e,
  "danger": #e94f3d
);

$font-family-base: 'Roboto', sans-serif;

.container {
  max-width: 2000px;
}
.nav-link {
  color: #0d2240;
  font-weight:bold
}
.nav-link:hover {
  color: #7c98ab;
  font-weight:bold
}
.table td,
.table th {
  padding: .7rem;
  white-space: nowrap;
  vertical-align: middle;
}
.b-table-sticky-header > .table.b-table > thead > tr > th {
  top: -1px !important;
}
.form-group {
  margin-bottom: 0em;
  text-align: center;
}
footer {
  margin-top: 3em;
}
h2,
h3,
h4 {
  padding: .5rem 0rem;
  margin-bottom: 0rem;
}
.header {
  padding-top: 50px;
}
h1 {
  margin-top: .5rem;
}
.btn-primary {
  background: #0d2240;
  border-color: #0d2240;
  color: white;
}
.btn-secondary {
  background: #7c98ab;
  border-color: #7c98ab;
  color: white;
}
.btn-outline-secondary:hover {
  background: #7c98ab;
  border-color: #7c98ab;
}
.btn-primary:hover {
  background: #9ea7b3;
  border-color: #9ea7b3;
}
.pt-3-half {
padding-top: 1.4rem;
}
.notes {
  text-align: left;
}
.title {
  margin-bottom: 0px
}
textarea {
  min-height: 5rem;
  font-size: 90%;
  text-indent: 0;
  padding: .3rem;
  margin-bottom: 0;
  // box-sizing: border-box !important;
  width: 100%;
  background-color: transparent;
  border-width: 3px;
  font-size: 1rem;
  height: 7.5rem
}
.sw-theme-arrows > .step-anchor > li.active > a {
  border-color: #7c98ab !important;
  background: #7c98ab !important;
}
.sw-theme-arrows > .step-anchor > li.active > a::after {
  border-left: 30px solid #7c98ab!important;
}
.sw-theme-arrows > .step-anchor > li.done > a::after {
  border-left: 30px solid #f5f5f5;
}
.sw-theme-arrows > .step-anchor > li.done > a {
  border-color: #f5f5f5 !important;
  background: #f5f5f5 !important;
  color:#bbb !important;
}


#redirects-table,
#lv-table {
  max-height: 40em !important;
  overflow: scroll;
}​
#vertical,
#domain-strat,
#chain-brand,
#select-location,
#redirect-menu,
#select-location-redirects {
  background: #7c98ab;
  border-color: #7c98ab;
  color: white;
}
#locations {
  background: #0d2240;
  border-color: #0d2240;
  color: white;
}

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
@import 'bootstrap-vue/dist/bootstrap-vue.min.css';

.custom-checkbox.b-custom-control-lg .custom-control-label::before,
.custom-checkbox.b-custom-control-lg .custom-control-label::after {
  top: 0.1125rem !important;
}

.custom-file-label {
  overflow: hidden;
}
.table td {
  padding: .3em;
  vertical-align: middle;
}
.table-responsive, .table-responsive-true {
  border: 1px solid rgba(0, 0, 0, 0.125)!important;
}
.table.b-table>tbody>.table-active, .table.b-table>tbody>.table-active>td,
.table.b-table>tbody>.table-active>th {
  background-color: rgba(0,0,0,.075);
}

label, legend, .col-form-label {
  margin-bottom: 0.25rem;
  margin-left: .25rem;
}

.col-form-label {
  padding-bottom: 0px;
}

.col-2, .col-3, .col-4, .col, .col-6, .col-10, .col-md-4, .col-md-6, .col-xl-4, .col-xl-2, .col-lg-3, .col-12, .col-md-6, .col {
  padding: .5rem;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.is-invalid ~ .custom-control-label {
  color: var(--danger);
}

.b-table-sticky-header > .table.b-table > thead > tr > th {
  padding: .4rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--primary);
  color: white;
  text-align: center;
}

.modal-header {
  padding-left: 2em;
  color: white;
}
.modal-header .close {
  color: white;
}